$gray-darker: #b2b2b2;
$gray: #7A7A7A;
$gray-black: #3a3a3a;
$gray-light: #F1F1F1;
$gray-lighter: #f6f6f6;
$gray-line: #dedede;
$brand-primary: #fd450c;
$brand-hover: #161616;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #f84747;
 
$primary: $brand-primary;
$background-primary: transparent;
$background-secondary: #F0F0F0;
$body-color: #fff;
$btn-border-radius: 0;
$btn-border-width: 0;
$input-btn-line-height: 1.25;
$input-height: auto; 
$border-radius: 0;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: 1rem;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$h1-font-size: 1.375rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.9375rem;
$NotoSansPath: "~notosans-fontface/fonts";
$NotoSansVersion: "1.0.1";