<style type="text/css">
    #fsch-embed-{id_html_block} {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
        max-width: 100%;
        margin-bottom: 1.5625rem;
    }
    #fsch-embed-{id_html_block} iframe,
    #fsch-embed-{id_html_block} object,
    #fsch-embed-{id_html_block} embed {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    }
</style>
<div id="fsch-embed-{id_html_block}">
    {content}
</div>