#product .product-cover .bonwishlist-hook-wrapper:hover .wish-button path {
    fill: #fc5b16;
}
#product .product-cover .bonwishlist-hook-wrapper .wish-button {
    z-index: 5;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
}

.wish-button.active path {
    fill: #fc5b16;
}
#product .images-container .wish-button.active:before {
    font-size: 25px;
}
.bonwishlist-hook-wrapper:hover {
    cursor: pointer;
}
.bonwishlist-hook-wrapper svg path {
    fill: transparent;
    transition: all .3s ease;
}
.bonwishlist-hook-wrapper:hover svg path {
    fill: #fc5b16;
}
.bonwishlist-hook-wrapper svg * {
    transition: all .3s ease;
}
.product-miniature .bonwishlist-hook-wrapper .wish-button.active:before {
    content: "\e907";
    color: #525252;
    transition: all 0.3s ease;
}
.product-miniature .bonwishlist-hook-wrapper .wish-button {
    color: #525252;
    position: unset;
    transition: all 0.3s ease;
    z-index: 5;
    cursor: pointer;
    font-size: 21px;
}

@media (any-hover: hover) {
    .product-miniature .bonwishlist-hook-wrapper:hover .wish-button {
        color: #FC5B16;
    }
    .product-miniature .bonwishlist-hook-wrapper:hover .wish-button.active:before {
        color: #FC5B16;
    }
}

.bonwishlist-hook-wrapper .wish-button {
     color: #ff4c4c;
     animation: pulsefas 1s ease;
 }

.bonwishlist-hook-wrapper .wish-button.active {
    animation: pulsefar 1s ease;
}

.bonwishlist-hook-wrapper .wish-button:hover {
    color: #ff4c4c;
}
.product-miniature .bonwishlist-hook-wrapper .wish-button:hover {
    color: #FC5B16;
}

.quickview .bonwishlist-hook-wrapper {
    display: none;
}

#bonwishlist .wishlist-tooltip {
    font-weight: 400;
    transition: all .3s linear;
    font-size: 25px;
    color: #3a3a3a;
    cursor: pointer;
    position: relative;
}

#bonwishlist .wishlist-tooltip i {
    color: #3a3a3a;
    transition: all .3s linear;
    line-height: 124%;
}

#bonwishlist:hover .wishlist-tooltip i {
    color: #FC5B16;
}

#bonwishlist:hover .block-wishlist #wishlist-popup .wishlist-wrapper {
    visibility: visible;
    transform: translateY(11px);
    opacity: 1;
    pointer-events: auto;
}

#bonwishlist #wishlist-popup .wishlist-wrapper {
    padding-top: 15px;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.3s linear;
    opacity: 0;
    position: absolute;
    width: 300px;
    right: -1px;
    pointer-events: none;
    z-index: 5002;
    top: 17px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
    background: #fff;
}

.wishlist-wrapper.none {
    display: none;
}

.block-wishlist {
    position: relative;
    margin-top: 1px;
    line-height: 138%;
}

.block-wishlist .no-items {
    padding: 12px 20px 14px 20px;
}
.block-wishlist .no-items h6{
   font-size: 13px;
}
#header:not(.sticky-head) .header-top:not(.sticky-head) #bonwishlist .wishlist-count {
    color: #161616;
}
#bonwishlist .wishlist-count {
    position: absolute;
    right: -7px;
    top: 5px;
    color: #FC5B16;
    border-radius: 50%;
    font-size: 9px;
    height: auto;
    width: auto;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    display: block;
    transition: all .2s linear;
}


#bonwishlist .wishlist-list {
    /* max-height: 270px; */
    max-height: 357px;
    overflow-y: auto;
}

#bonwishlist .wishlist-item {
    padding: 0 15px 15px 15px;
    display: flex;
    position: relative;
}

#bonwishlist .wishlist-item:last-child {
    padding-bottom: 15px;
}


#bonwishlist .wishlist-summary-product-image {
    width: 70px;
    min-width: 70px;
    margin-right: 10px;
}

#bonwishlist .wishlist-summary-product-image img {
    /*border: 1px solid #ededed;*/
    width: 100%;
}

#bonwishlist .wishlist-summary-product-info {
    padding-right: 7px;
}

#bonwishlist .wishlist-summary-product-name .product-title {
    text-align: left;
    margin: 0 0 3px;
    padding: 0;
}

#bonwishlist .wishlist-summary-product-name .product-title span {
    line-height: 110%;
    font-size: 12.5px;
    display: block;
    color: #3a3a3a;
    text-transform: capitalize;
    transition: all .3s ease;
}

#bonwishlist .wishlist-summary-product-name .product-title:hover span {
    color: #FC5B16;
}

#bonwishlist .wishlist-summary-product-price {
    display: flex;
    margin-bottom: 0;
}

#bonwishlist .wishlist-summary-product-price .price,
#bonwishlist .wishlist-summary-product-price .regular-price {
    font-size: 14px;
    line-height: 20px;
}

#bonwishlist .wishlist-summary-product-price .price.has-discount {
    color: #ff4c4c;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-right: 10px;
}

#bonwishlist .wishlist-button-delete {
    float: right;
    position: absolute;
    top: -4px;
    right: 10px;
    outline: none;
    cursor: pointer;
    color: #3a3a3a;
}
#header #bonwishlist:hover .wishlist_add_to_cart_button svg path,
#header #bonwishlist:hover .wishlist-button-delete {
    color: #3a3a3a;
    fill: #3a3a3a;
    stroke: #3a3a3a;
}
#header #bonwishlist .wishlist_add_to_cart_button:hover svg path {
    fill: #FC5B16!important;
    stroke: #FC5B16!important;
}
#bonwishlist .wishlist-button-delete:hover:before {
    color: #FC5B16;
}

#bonwishlist .wishlist-button-delete:before {
    content: '\e05a';
    font-family: 'bonicon';
    font-size: 12px;
    display: block;
    transition: all .3s ease;
}

#bonwishlist .wishlist_add_to_cart_button {
    border: none;
    background: none;
    cursor: pointer;
    padding-left: 0;
}

#bonwishlist .wishlist_add_to_cart_button {
    outline: none;
}

#bonwishlist .wishlist_add_to_cart_button i:before {
    font-size: 18px;
}

#bonwishlist .wishlist_add_to_cart_button i {
    transition: all .2s linear;
}

#bonwishlist .wishlist_add_to_cart_button:hover i {
    color: #FC5B16;
}

#bonwishlist #wishlist-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

#bonwishlist #wishlist-footer.none {
    display: none;
}

#bonwishlist #wishlist-footer .btn {
    color: #fff !important;
    font-size: 14px !important;
    margin: 0 0 15px 0;
    width: 100%;
}


@media only screen and (min-width: 1280px) {
    .thumbnail-container .bonwishlist-hook-wrapper {
        display: none;
    }

    .thumbnail-container:hover .bonwishlist-hook-wrapper {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    #bonwishlist {
        position: static;
    }
}
@media screen and (max-width: 576px) {
    #header #bonwishlist #wishlist-popup .wishlist-wrapper {
        right: -65px;
    }
    #header.sticky-head #bonwishlist #wishlist-popup .wishlist-wrapper {
        bottom: 189%;
        top: auto;
    }
}


@keyframes pulsefar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulsefas {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}